body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.container {
    display: block;
    margin: auto;
    max-width: 960px;
}

.M--app {
    display: block;
    position: relative;
    padding: 80px 0;
}